{% extends 'site/partials/layout.html' %}


{% block title %}
Welcome to Biking First
{% endblock title %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
{% include 'site/partials/header.html' %}
{% endblock header %}

{% block slider %}
{% include 'site/partials/slider.html' %}
{% endblock slider %}

{% block aboutus %}
{% include 'site/partials/aboutus.html' %}
{% endblock aboutus %} 
    
{% block package %}
{% include 'site/partials/package.html' %}
{% endblock package %}
    
{% block upcommingpack %}
{% include 'site/partials/upcommingpack.html' %}
{% endblock upcommingpack %}

{% block blog %}
{% include 'site/partials/blog.html' %}
{% endblock blog %}
    
{% block footer %}
{% include 'site/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'site/partials/script.html' %}
{% endblock script %}
