{% load static %}

    <!--====== SECTION: FREE CONSULTANT ==========-->
	<section>
		<div class="tb-space">
			<div class="container">
				<div class="col-md-6"> <span class="to-con-1">About Biking First</span>
					<h2>Get best Mountain Biking deals</h2>
					<p>For the last thirteen years, the team behind Biking First has been exploring Nepal and the Himalaya on Mountain Bikes. We know where to take you for the best mountain bike adventures. We love biking and firmly believe that this way of travel not only energizes, stimulates and excites your senses, but it allows you to escape the well trodden tourist trails and experience the local people and culture first hand. Our love of cycling and passion for adventure and real life biking tour experiences is what drives us to deliver high quality biking tours to all levels of rider wishing to explore this beautiful region.</p> 
                    <span class="to-con-2">Quick Contact: +977 9851157023</span>
					<div class="ho-con-cont"> <a href="#" class="to-con-3 link-btn">Start Booking</a> <a href="#" class="to-con-4 link-btn">Quick Inquiry</a> </div>
				</div>
				<div class="col-md-6 ho-vid"> <img src="/static/images/cycling-in-kathmandu.jpg" alt=""> </div>
			</div>
		</div>
	</section>   