{% load static %}
{% for i in aboutus %}
<section>
	<div class="tb-space">
		<div class="container">
			<div class="col-md-6"> <span class="to-con-1">About Biking First</span>
				<h2 class="text-uppercase">{{ i.title }}</h2>
				<p>{{ i.content|safe|truncatechars:550 }}</p>
				{% for c in contactlist %}
				<span class="to-con-2">Quick Contact: {{ c.phone }}</span>
				{% endfor %}
				<div class="ho-con-cont"> <a href="{% url 'allpackages' %}" class="to-con-3 link-btn">All Packages</a> <a href="{% url 'contactus' %}"
						class="to-con-4 link-btn">Quick Inquiry</a> </div>
			</div>
			<div class="col-md-6 ho-vid"> <img src="{{ i.about_cover.url }}" alt=""> </div>
		</div>
	</div>
</section>
{% endfor %}