{% load static %}

<section>
    <div class="rows pla pad-bot-redu tb-space">
        <div class="pla1 p-home container">
            <!-- TITLE & DESCRIPTION -->
            <div class="spe-title spe-title-1">
                <h2>Cycling & <span>Travel</span> Blogs</h2>
                <div class="title-line">
                    <div class="tl-1"></div>
                    <div class="tl-2"></div>
                    <div class="tl-3"></div>
                </div>
            </div>
            <div class="popu-places-home">
                {% for i in latest_blogs %}
                <div class="col-md-6 col-sm-6 col-xs-12 place">
                    <div class="col-md-6 col-sm-12 col-xs-12"> <img src="{{ i.cover_image.url }}" alt="" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>{{ i.title|truncatechars:20|safe }}</h3>
                        <p>{{i.content|truncatechars:120|safe }}

                        </p> <a href="{% url 'blogdetails' i.id %}" class="link-btn">Read More..</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</section>

<!--====== REQUEST A QUOTE ==========-->
<section>
    <div class="form tb-space">
        <div class="rows container">
            <div class="spe-title">
                <h2>If your have any<span> queries </span> contact us!</h2>
                <div class="title-line">
                    <div class="tl-1"></div>
                    <div class="tl-2"></div>
                    <div class="tl-3"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form_1">
                <div class="succ_mess">Thank you for contacting us we will get back to you soon.</div>
                <form id="home_form" name="home_form" method="post" action="">
                {% csrf_token %}
                    <ul>
                        <li>
                            {{ form.name }}
                        </li>
                        <li>
                            {{ form.mobile }}
                        </li>
                        <li>
                            {{ form.email }}
                        </li>
                        <li>
                            {{ form.subject }}
                        </li>
                        <li>
                            {{ form.city }}
                        </li>
                        <li>
                            {{ form.country }}
                        </li>
                        <li>
                            {{ form.message}}
                        </li>
                        <li>
                            <input type="submit" value="Submit" id="send_button">
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 family">
                <img src="/static/images/biking-first-book-now-img.png" alt="" />
            </div>
        </div>
    </div>
</section>