{% load static %}

<!--====== FOOTER 1 ==========-->
    <section>
        <div class="rows">
            <div class="footer tb-space">
                <div class="container">
                {% for i in contactlist %}
                    <div class="foot-sec2">
                        <div>
                            <div class="row">
                                <div class="col-sm-3 foot-spec foot-com">
                                    <h4>Why Biking First</h4>
                                    <p>{{ i.sub_title}}</p>
                                </div>
                                <div class="col-sm-3 foot-spec foot-com">
                                    <h4>Contact Us</h4>
                                    <p>{{ i.address }}</p>
                                    <p>Phone: {{ i.phone }}</p>
                                    <p>Email: {{ i.email }}</p>
                                </div>
                                <div class="col-sm-3 col-md-3 foot-spec foot-com">
                                    <h4>Quick Links</h4>
                                    <ul class="two-columns">
                                        <li> <a href="#">About Us</a> </li>
                                        <li> <a href="#">FAQ</a> </li>
                                        <li> <a href="#">Testimonials</a> </li>
                                        <li> <a href="#">Our Blog </a> </li>                                        
                                        <li> <a href="#">Contact Us</a> </li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 foot-social foot-spec foot-com">
                                    <h4>Connect with us</h4>                                    
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>                               <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>                               <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--====== FOOTER 2 ==========-->
    <section>
        <div class="rows">
            <div class="footer home_title">
                <div class="pla1 container">                    
                    <!-- FOOTER MOST POPULAR VACATIONS -->
                    <div class="col-md-12 col-sm-12 col-xs-12 foot-spec footer_places">
                        <h4>Most Popular Vacations</h4>
                        <ul>
                            <li><a href="tour-details.html">Cycling in Nepal</a> </li>
                            <li><a href="tour-details.html">Kathmandu Cycling</a> </li>
                            <li><a href="tour-details.html">Annapurna Cycling</a> </li>
                            <li><a href="tour-details.html">Muktinath Cycling</a> </li>
                            <li><a href="tour-details.html">Lower Mustang Valley </a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== FOOTER - COPYRIGHT ==========-->
    <section>
        <div class="rows copy">
            <div class="container">
                <p>Copyright © 2021 Biking First. All Rights Reserved | Designed & Developed by <a href="http://www.freelancernepal.com.np" target="_blank">freelancerunit</a></p>
            </div>
        </div>
    </section>    