{% load static %}


<!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="{% url 'frontendhome' %}"><img src="/static/images/biking-first-logo.png" alt=""/>
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>                            
                            <ul>
                                <li><a href="{% url 'frontendhome' %}">Home</a></li>
                            </ul>
                        
                            <ul>
                            {% for i in cat3 %}
                                <li><a href="#">{{ i.title }}</a></li>
                            {% endfor %}
                            </ul>
                            <ul>
                                <li><a href="{% url 'bloglist' %}">Our Blog</a></li>
                                <li><a href="{% url 'aboutus' %}">About Us</a></li>
                                <li><a href="{% url 'contactus' %}">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                        {% for i in contactlist %}
                            <ul>
                                <li><a href="#">Quick Contact: {{ i.address }}</a>
                                </li>
                                <li><a href="#">Phone: {{ i.phone }}</a>
                                </li>
                            </ul>
                        {% endfor %}
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'userlogoutprocess' %}">Logout</a>
                                </li>
                                <li><a href="{% url 'userprofile'%}">Profile</a>
                                </li>
                            {% else %}
                                <li><a href="{% url 'userlogin' %}">Sign In</a>
                                </li>
                                <li><a href="{% url 'signupuser' %}">Register</a>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="{% url 'frontendhome' %}"><img src="/static/images/biking-first-logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="{% url 'frontendhome' %}">Home</a></li>
                                {% for i in cat1 %}
                                <li class="cour-menu">
                                        <a href="#!" class="mm-arr">{{ i.title }}</a>
                                    <div class="mm-pos">
                                        <div class="cour-mm m-menu">
                                            <div class="m-menu-inn">
                                            {% for j in cat2 %}
                                            {% if j.category == i %}
                                                <div class="mm1-com mm2-cour-com mm1-s3">
                                                    <h4>{{ j.title }}</h4>
                                                    <ul>
                                                    {% for k in cat3 %}
                                                        <li><a href="{% url 'packagescategory' k.id %}">{{ k.title }}</a></li> 
                                                    {% endfor %}                                        
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                <li><a href="{% url 'bloglist' %}">Our Blog</a></li>
                                <li><a href="{% url 'aboutus' %}">About Us</a></li>
                                <li><a href="{% url 'contactus' %}">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <!--END HEADER SECTION-->