{% load static %}


<!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="/static/images/biking-first-logo.png" alt="" />
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>                            
                            <ul>
                                <li><a href="main.html">Home</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                            <h4>Biking in Nepal</h4>
                            <ul>
                                <li><a href="#">Kathmandu Valley (Day Ride)</a></li>
                                <li><a href="#">Kathmandu Valley (Rim Tour)</a></li>
                                <li><a href="#">Tokha & Budhanilkantha</a></li>
                                <li><a href="#">Bungamati Mountain Biking</a></li>
                                <li><a href="#">Kathmandu - Pokhara Biking</a></li>
                                <li><a href="#">Pokhara Valley Biking</a></li>
                                <li><a href="#">Annapurna Circuit Biking Tour</a></li>
                                <li><a href="#">Annapurna Half Circuit Biking Tour</a></li>
                                <li><a href="#">Upper Mustang Biking Tour</a></li>
                            </ul>
                            <h4>Trekking in Nepal</h4>
                            <ul>
                                <li><a href="#">Annapurna Base Camp Trekking</a></li>
                                <li><a href="#">Everest Base Camp Trekking</a></li>
                                <li><a href="#">Langtang Valley Treking</a></li>
                                <li><a href="#">Upper Mustang Trekking</a></li>
                                <li><a href="#">Lower Mustang Trekking</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Our Blog</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Quick Contact: Thamel, Kathmandu, Nepal</a>
                                </li>
                                <li><a href="#">Phone: +977 9851157023</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="login.html">Sign In</a>
                                </li>
                                <li><a href="register.html">Register</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="/static/images/biking-first-logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="main.html">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li class="cour-menu">
                                    <a href="#!" class="mm-arr">Biking in Nepal</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="cour-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm2-cour-com mm1-s3">
                                                    <h4>Kathmandu Valley</h4>
                                                    <ul>
                                                        <li><a href="#">Kathmandu Valley (Day Ride)</a></li>
                                                        <li><a href="#">Kathmandu Valley (Rim Tour)</a></li>
                                                        <li><a href="#">Tokha & Budhanilkantha</a></li>
                                                        <li><a href="#">Bungamati Mountain Biking</a></li>                                              
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm2-cour-com mm1-s3">
                                                    <h4>Pokhara</h4>
                                                    <ul>
                                                        <li><a href="#">Kathmandu - Pokhara Biking</a></li>
                                                        <li><a href="#">Pokhara Valley Biking</a></li>                                                   
                                                    </ul>                                                    
                                                </div>
                                                <div class="mm1-com mm2-cour-com mm1-s3">
                                                    <h4>Annapurna</h4>
                                                    <ul>
                                                        <li><a href="#">Annapurna Circuit Biking Tour</a></li>
                                                        <li><a href="#">Annapurna Half Circuit Biking Tour</a></li>                                                                                                       
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s3">
                                                    <h4>Mustang</h4>
                                                    <ul>
                                                        <li><a href="#">Upper Mustang Biking Tour</a></li>                                                       
                                                    </ul>                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="about-menu">
                                    <a href="family-package.html" class="mm-arr">Trekking in Nepal</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="all-package.html">
                                                            <img src="/static/images/trekking-in-nepal.jpeg" alt="">
                                                            <span>Trekking in Nepal</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>Nepal is the best destination for Hiking, walking and Trekking. The sites and regions in Nepal are full of adventures for adventure seekers, spiritual trekkers and nature lovers. </p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="#">Annapurna Base Camp Trekking</a></li>
                                                        <li><a href="#">Everest Base Camp Trekking</a></li>
                                                        <li><a href="#">Langtang Valley Treking</a></li>
                                                        <li><a href="#">Upper Mustang Trekking</a></li>
                                                        <li><a href="#">Lower Mustang Trekking</a></li>                                                       
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s4">
                                                    <ul>
                                                        <li><a href="#">Annapurna Base Camp Trekking</a></li>
                                                        <li><a href="#">Everest Base Camp Trekking</a></li>
                                                        <li><a href="#">Langtang Valley Treking</a></li>
                                                        <li><a href="#">Upper Mustang Trekking</a></li>
                                                        <li><a href="#">Lower Mustang Trekking</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Our Blog</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <!--END HEADER SECTION-->