{% load static %}

    <!-- Best Cycling Holidays -->
    <section>
        <div class="rows tb-space pla pad-bot-redu">
            <div class="container">
                <!-- TITLE & DESCRIPTION -->
                <div class="spe-title">
                    <h2>The Best <span>Cycling Holidays </span> </h2>
                    <div class="title-line">
                        <div class="tl-1"></div>
                        <div class="tl-2"></div>
                        <div class="tl-3"></div>
                    </div>                    
                </div>
                <!-- Cycling Package -->
                <div class="to-ho-hotel">
                    {% for i in packages %}
                    <div class="col-md-4">
                        <div class="to-ho-hotel-con">
                            <div class="to-ho-hotel-con-1">
                                <div class="hot-page2-hli-3"> <img src="{{i.image.url }}" alt=""> </div>
                                <div class="hom-hot-av-tic">{{ i.duration }}</div> <img src="{{ i.image.url }}" alt=""> </div>
                            <div class="to-ho-hotel-con-23">
                                <div class="to-ho-hotel-con-2">
                                    <a href="hotel-details.html">
                                        <h4>{{ i.title|truncatechars:30}}</h4>
                                    </a>
                                </div>
                                <div class="to-ho-hotel-con-3">
                                    <ul>
                                        <li>Region: {{ i.region }}
                                            <div class="dir-rat-star ho-hot-rat-star"> Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"
                                                    aria-hidden="true"></i> </div>
                                        </li>
                                        <li><span class="ho-hot-pri">${{ i.price }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>