{% load static %}

<!--HEADER SECTION-->
	<section>
		<div>
			<div>
				<div>
			<div class="slider fullscreen">
				<ul class="slides">
				{% for i in sliderimage %}
					<li> <img src="{{ i.image.url }}" alt="">
						<!-- random image -->
						<div class="caption center-align slid-cap">
							<h2>{{ i.title }}</h2>							
                        </div>
					</li>
				{% endfor %}
				</ul>
			</div>
				</div>
			</div>
		</div>
	</section>
	<!--END HEADER SECTION-->
    
    <!-- TOP SEARCH BOX -->    
    <section>       
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
						<form class="tourz-search-form" action="{% url 'searchpackages' %}" method="get">
							<div class="input-field">
							{% csrf_token %}
								<input type="text" name="region" id="select-city" class="autocomplete">
								<label for="select-city">Enter Region</label>
							</div>
							<div class="input-field">
							{% csrf_token %}
								<input type="text" name="title" id="select-search" class="autocomplete">
								<label for="select-search" class="search-hotel-type">Search over a 100's of biking, trekking, tour and more</label>
							</div>
							<div class="input-field">
								<input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
						</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
    </section>
    <!-- END TOP SEARCH BOX -->