{% load static %}

 <!--====== EVENTS ==========-->
    <section>
        <div class="rows tb-space">
            <div class="container events events-1" id="inner-page-title">
                <!-- TITLE & DESCRIPTION -->
                <div class="spe-title">
                    <h2>Upcoming <span>Cycling Holidays</span></h2>
                    <div class="title-line">
                        <div class="tl-1"></div>
                        <div class="tl-2"></div>
                        <div class="tl-3"></div>
                    </div>                    
                </div>                
                <table id="myTable">
                    <tbody>
                        <tr>
                            <th>#</th>
                            <th>Cycling Holdidays</th>
                            <th class="e_h1">Dates</th>                            
                            <th class="e_h1">Price</th>
                            <th>Book</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="/static/images/iplace-1.jpg" alt="" /><a href="hotels-list.html" class="events-title">Annapurna Round Mountain Biking</a> </td>
                            <td class="e_h1">Aug 15, 2021 (15 Days)</td>                            
                            <td class="e_h1">$2000</td>
                            <td><a href="booking.html" class="link-btn">Book Now</a> </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img src="/static/images/iplace-2.jpg" alt="" /><a href="hotels-list.html" class="events-title">Annapurna Round Mountain Biking</a> </td>
                            <td class="e_h1">Aug 15, 2021 (15 Days)</td>                            
                            <td class="e_h1">$2000</td>
                            <td><a href="booking.html" class="link-btn">Book Now</a> </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img src="/static/images/iplace-3.jpg" alt="" /><a href="hotels-list.html" class="events-title">Annapurna Round Mountain Biking</a> </td>
                            <td class="e_h1">Aug 15, 2021 (15 Days)</td>                            
                            <td class="e_h1">$2000</td>
                            <td><a href="booking.html" class="link-btn">Book Now</a> </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><img src="/static/images/iplace-4.jpg" alt="" /><a href="hotels-list.html" class="events-title">Annapurna Round Mountain Biking</a> </td>
                            <td class="e_h1">Aug 15, 2021 (15 Days)</td>                            
                            <td class="e_h1">$2000</td>
                            <td><a href="booking.html" class="link-btn">Book Now</a> </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><img src="/static/images/iplace-5.jpg" alt="" /><a href="hotels-list.html" class="events-title">Annapurna Round Mountain Biking</a> </td>
                            <td class="e_h1">Aug 15, 2021 (15 Days)</td>                            
                            <td class="e_h1">$2000</td>
                            <td><a href="booking.html" class="link-btn">Book Now</a> </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><img src="/static/images/iplace-6.jpg" alt="" /><a href="hotels-list.html" class="events-title">Annapurna Round Mountain Biking</a> </td>
                            <td class="e_h1">Aug 15, 2021 (15 Days)</td>                            
                            <td class="e_h1">$2000</td>
                            <td><a href="booking.html" class="link-btn">Book Now</a> </td>
                        </tr>              
                                           
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!--====== POPULAR TOUR PLACES ==========-->