{% load static %}

 <!--====== EVENTS ==========-->
    <section>
        <div class="rows tb-space">
            <div class="container events events-1" id="inner-page-title">
                <!-- TITLE & DESCRIPTION -->
                <div class="spe-title">
                    <h2>Upcoming <span>Cycling Holidays</span></h2>
                    <div class="title-line">
                        <div class="tl-1"></div>
                        <div class="tl-2"></div>
                        <div class="tl-3"></div>
                    </div>                    
                </div>                
                <table id="myTable">
                    <tbody>
                        <tr>
                            <th>S.N</th>
                            <th>Cycling Holdidays</th>
                            <th class="e_h1">Dates</th>                            
                            <th class="e_h1">Price</th>
                            <th>Book</th>
                        </tr>
                        {% for i in upcomming_pack %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><img src="/static/images/iplace-1.jpg" alt=""/><a href="{% url 'packagesdetails' i.id %}" class="events-title">{{ i.title|truncatechars:250 }}</a> </td>
                            <td class="e_h1">{{ i.starting_date }}</td>                            
                            <td class="e_h1">${{ i.price }}</td>
                            <td><a href="booking.html" class="link-btn">Book Now</a> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!--====== POPULAR TOUR PLACES ==========-->