{% extends 'site/partials/layout.html' %}


{% block title %}
Welcome to Biking First
{% endblock title %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
{% include 'site/partials/header.html' %}
{% endblock header %}

{% block slider %}
<section>
    <div class="tr-register">
        <div class="tr-regi-form">
            <h4>Check your Email</h4>
            <p>your password rest link will be sent in the mail</p>
            </p>
        </div>
    </div>
</section>
{% endblock slider %}

    
{% block footer %}
{% include 'site/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'site/partials/script.html' %}
{% endblock script %}
