{% extends 'admin/partials/layout.html' %}

{% block title %}

{% endblock title %}

{% block header %}
{% include 'admin/partials/header.html' %}
{% endblock header %}

{% block sidebar %}
{% include 'admin/partials/sidebar.html' %}
{% endblock sidebar %}

{% block staticdata %}
{% include 'admin/partials/staticdata.html' %}
{% endblock staticdata %}

{% block dashbaord %}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Change your password </h3>
        </div>
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                {{ form }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger btn-block">change your password</button>
            </div>
        </form>
    </div>
</div>
{% endblock dashbaord %}

{% block footer %}
{% include 'admin/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'admin/partials/script.html' %}
{% endblock script %}

