{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="card-success">
            <div class="card-header">
                <h3 class="card-title">Latest Packages</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">S.N</th>
                            <th>Packages</th>
                            <th>Region</th>
                            <th>starting date</th>
                            <th>Duration</th>
                            <th>Price</th>
                            <th style="width: 40px">Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in packages %}
                        <tr>
                            <td>{{ forloop.counter }}.</td>
                            <td>{{ i.title }}</td>
                            <td>{{ i.region }}</td>
                            <td>{{ i.starting_date }}</td>
                            <td>{{ i.duration }}</td>
                            <td>${{ i.price }}</td>
                            {% if i.Availability == True %}
                            <td><span class="badge bg-success">Available</span></td>
                            {% else %}
                            <td><span class="badge bg-danger">Not Available</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="{% url 'packageslist' %}">View all Packages</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card-success">
            <div class="card-header">
                <h3 class="card-title">Most Viewed Packages</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">S.N</th>
                            <th>Packages</th>
                            <th>Region</th>
                            <th>starting date</th>
                            <th>Duration</th>
                            <th>Price</th>
                            <th>Views</th>
                            <th style="width: 40px">Available</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in most_view_packages %}
                        <tr>
                            <td>{{ forloop.counter }}.</td>
                            <td>{{ i.title }}</td>
                            <td>{{ i.region }}</td>
                            <td>{{i.starting_date }}</td>
                            <td>{{ i.duration }}</td>
                            <td>${{ i.price }}</td>
                            <td>({{ i.views }})&nbsp<i class="fas fa-eye"></i></td>
                            {% if i.Availability == True %}
                            <td><span class="badge bg-success">Available</span></td>
                            {% else %}
                            <td><span class="badge bg-danger">Not Available</span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">View all packages</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card-success">
            <div class="card-header">
                <h3 class="card-title">Latest Booking Packages</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">S.N</th>
                            <th>Packages Title</th>
                            <th>Booked by</th>
                            <th>Label</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in latest_booked_packages %}
                        <tr>
                            <td>{{ forloop.counter }}.</td>
                            <td>{{ i.package.title }}</td>
                            <td>{{i.created_by.get_full_name}}</td>
                            <td>this is</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">View all Booked packages</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card-success">
            <div class="card-header">
                <h3 class="card-title">Latest Register Users</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">S.N</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact number</th>
                            <th>Date of register</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in latest_register_user %}
                        <tr>
                            <td>{{ forloop.counter }}.</td>
                            <td>{{ i.get_full_name }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.mobile }}</td>
                            <td>{{ i.date_joined }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="{% url 'normaluser' %}">view all users</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>