{% extends 'admin/partials/layout.html' %}

{% block title %}

{% endblock title %}

{% block header %}
{% include 'admin/partials/header.html' %}
{% endblock header %}

{% block sidebar %}
{% include 'admin/partials/sidebar.html' %}
{% endblock sidebar %}

{% block staticdata %}
{% include 'admin/partials/staticdata.html' %}
{% endblock staticdata %}

{% block dashbaord %}
{% include 'admin/partials/dashboard.html' %}
{% endblock dashbaord %}

{% block footer %}
{% include 'admin/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'admin/partials/script.html' %}
{% endblock script %}

