{% extends 'admin/partials/layout.html' %}

{% block title %}

{% endblock title %}

{% block header %}
{% include 'admin/partials/header.html' %}
{% endblock header %}

{% block sidebar %}
{% include 'admin/partials/sidebar.html' %}
{% endblock sidebar %}

{% block staticdata %}
{% include 'admin/partials/staticdata.html' %}
{% endblock staticdata %}

{% block dashbaord %}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Update Sub category</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputtitle1">Main Category</label>
                        {{ form.category }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtitle1">Sub Category</label>
                        {{ form.sub_category }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtitle1">Title</label>
                        {{ form.title }}
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-block">Update all category</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock dashbaord %}

{% block footer %}
{% include 'admin/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'admin/partials/script.html' %}
{% endblock script %}